.header_container {
    margin-top: 50px;
  }
  
  .header_container span {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    color: white;
  }
  
  .custom_button {
    border-radius: 0px !important;
    background-color: rgba(60, 223, 31, 1) !important;
    color: black;
    font-weight: bold !important;
    padding: 10px 20px !important;
    border: none !important;
  }
  
  .button_container {
    margin-top: 50px;
  }