.custom_table thead {
  background-color: rgba(60, 223, 31, 1) !important;
  color: black;
}

.custom_table td {
  vertical-align: middle;
}

.custom_table {
  font-size: 14px;
}

.team_logo {
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-right: 10px;
}

.team_cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
}

.header_container {
  margin-top: 50px;
}

.header_container span {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  color: white;
}

.custom_button {
  border-radius: 0px !important;
  background-color: rgba(60, 223, 31, 1) !important;
  color: black !important;
  font-weight: bold !important;
  padding: 5px 10px !important;
  border: none !important;
}

.button_container {
  margin-top: 50px;
}